<% @user ||= current_user %>
<%= link_to gravatar_for(@user, size: Settings.avatar_size), @user %>
<h1><%= @user.name %></h1>
<span><%= link_to t(".profile_link_text"), @user %></span>
<span><%= pluralize(@user.microposts.count, t("text.micropost")) %></span>
